#myWordCloud {
    color: red;
    font-size: 64px;
}
/* cloud.css */
.word-cloud {
    width: 600px;
    height: 400px;
    background-color: #f0f0f0;
    position: relative;
    font-family: Arial, sans-serif;
  }
  .container{
    height: 400px;
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: row;
  }
  
  .one {
    color: rgb(4, 71, 4);
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .five {
    color: rgb(10, 52, 10);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .two {
    color: rgb(76, 11, 11);
    font-size: 56px;
 
  }
  .three {
    color: rgb(97, 6, 6);
    font-size: 52px;

  }
  .four {
    color: rgb(6, 70, 6);
    font-size: 48px;
 
  }
  .five {
    color: rgb(69, 42, 42);
    font-size: 44px;

  }
  .six {
    color: brown;
    font-size: 40px;

  }
  .seven {
    color: brown;
    font-size: 38px;
   
  }
  .eight {
    color: rgb(106, 215, 106);
    font-size: 34px;

  }
  .nine {
    color: brown;
    font-size: 30px;

  }
  .ten {
    color: rgb(86, 46, 46);
    font-size: 28px;

  }
  .eleven {
    color: rgb(9, 85, 9);
    font-size: 24px;

  }
  .twelve {
    color: brown;
    font-size: 20px;

  }
  
  /* Add more custom styles here if needed */
  